.login-form {
    max-width: 300px;
    /*width: 300px;*/
}
.login-form-title {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 25px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
